@font-face {
  font-family: 'Zcool';
  src: url('./font/ZCOOLKuaiLe-Regular.ttf');
}
.center-content {
  padding: 50px 80px;
  background-color: #f2f2f2;
  .data-content {
    // display: flex;
  }
  .first {
  //  background-color: #fff;
  }
  .second {
  //  background-color: #fff;
  }
  .line {
    background-color: #fff;
    border-radius: 12px;
  box-shadow: 9px 3px 20px 13px #d9d9d9;
  }
}

.speed {
  width: 400px;
}
.userMessage {
  background-color: #fff;
    border-radius: 12px;
    box-shadow: 9px 3px 20px 13px #d9d9d9;
}


  .message {
    font-size: 19px;
    font-weight: 400;
    font-family: 'Zcool';
  }

  .dataMess {
    font-size: 20px;
    padding: 10px 0 10px 30px;
  }
  .dataPic {
    padding: 20px;
  }
