.empty-content {
  position: relative;
  left: calc((100% - 364px) / 2);
}
.ant-card {
  margin-bottom: 30px;
  background-color: #ac9bd5;
  border-radius: 6px;
  box-shadow: inset 0px 0px 8px 1px #fff;
  height: 240px;
  .ant-card-head-title {
    font-size: 18px;
    text-align: center;
  }
  .topic-title {
    text-align: center;
    margin: 0 5px 20px 5px;
    min-height: 44px;
  }
  .all-content {
    margin: 0 50px;
    .first {
      display: flex;
      justify-content: space-between;
    }
    .topic-content {
      // margin: 0 calc((300px - 100px) / 4);
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}
.go_to_complete {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.left-arrow {
  width: 45px;
  padding-left: 20px;
}
.topic_describle {
  font-size: 16px;
}
.topic_url {
  font-size: 16px;
  font-weight: 500;
  align-self: center;
}
